/* reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 50px;
  width: 100%;
  background-color: red;
}
.main-visual {
  height: 500px;
  width: 100%;
  background-color: orange;
}
.main {
  margin: auto;
  display: flex;
  justify-content: center;
}
.side-bar-left {
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}
.blog {
  width: 500px;
  height: 1400px;
  background: rgb(37, 180, 37);
}
.side-bar-right {
  width: 230px;
  height: 1400px;
  background: palegreen;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: blue;
}
